<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036634927114-1go12bmc0ccivic8neatt10t8qofl6r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036634927114-1go12bmc0ccivic8neatt10t8qofl6r8</string>
	<key>API_KEY</key>
	<string>AIzaSyB_dsJ8hWSTteB1Ah6UMxnaZnbLt9DQbe8</string>
	<key>GCM_SENDER_ID</key>
	<string>1036634927114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>dating-app-a9df2</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-app-a9df2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036634927114:ios:f8dc4050350d8768ff6ff3</string>
</dict>
</plist>